[% USE q = Qgoda %]
[% USE relative_url %]
[% USE gravatar_url %]

<div class="footer-preception text-center">
    <img src="[% 'assets/bitmaps/perception-32px.png' | $relative_url %]" />
</div>
<span>&nbsp;&nbsp;&nbsp;</span>
<div class="footer-mugshot text-center">
    <img src="[% 'jahdobble@llownd.net' | $gravatar_url size => 32 %]" />
</div>
