<div id="brand-mobile" class="order-1">
    <a href="{{- '/' | relative_url }}" title="Click for homepage">
        <img id="logo-mobile" alt="Site logo" src="{{- 'include/vectors/logo_l2r.svg' | relative_url }}" />
    </a>
</div>
<div id="brand" class="order-1">
    <a href="{{- '/' | relative_url }}" title="Click for homepage">
        <img id="logo" alt="Site logo" src="{{- 'include/vectors/logo_t2b.svg' | relative_url }}" />
    </a>
</div>
<ul id="nav" class="order-0">
    <li class="nav-item"><a href="{{- '/' | relative_url }}" class="nav-link">home</a></li>
    <li class="nav-item"><a href="{{- 'about/' | relative_url }}" class="nav-link">about</a></li>
    <li class="nav-item"><a href="{{- 'ramblings/' | relative_url }}" class="nav-link">ramblings</a></li>
    <li class="nav-item"><a href="{{- 'goodies/' | relative_url }}" class="nav-link">goodies</a></li>
</ul>
