<div id="nav">
    <div id="brand">
        <a href="{{ '/' | relative_url }}">~perplexedtheta</a>
    </div>
    <ul id="nav-list">
        <li class="nav-item"><a href="{{- '/' | relative_url }}" class="nav-link">home</a></li>
        <li class="nav-item"><a href="{{- 'about/' | relative_url }}" class="nav-link">about</a></li>
        <li class="nav-item"><a href="{{- 'ramblings/' | relative_url }}" class="nav-link">ramblings</a></li>
        <li class="nav-item"><a href="{{- 'goodies/' | relative_url }}" class="nav-link">goodies</a></li>
    </ul>
</div>
