@import "variables";

// ==== ramblings scss file, jake deery, 2024 ====
#content {
    .ramblings {
        margin: 1.0em 0 1.0em 0;
        padding: 1.0em 0 0 0;
        border-top: 1px dashed $prussianBlue;

        .ramblings-headline,
        .ramblings-abstract,
        .ramblings-desc {
            p {
                margin-bottom: 0.25em;
            }

            small {
                font-weight: 200;
            }
        }
    }

    .ramblings-headline {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1,
        h4 {
            &::before {
                content: '';
            }
        }

        p {
            font-weight: 200;
        }
    }

    .ramblings-date {
        min-width: 7.5rem;
    }

    .ramblings-abstract {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.75em;

        .ramblings-frontmatter {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .ramblings-frontmatter-right {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .ramblings-desc {
        .ramblings-excerpt {
            text-align: justify;
        }
    }

    .ramblings-pagination {
        text-align: center;
    }
}

// ==== dark mode ====
@media(prefers-color-scheme: dark) {
    #content {
        .ramblings {
            border-top: 1px dashed $parchment;
        }
    }
}
