@import "variables";

// ==== search scss file, jake deery, 2024 ====
body[data-page-id="/search/"] {
    #wrapper {
        #content {
            h1 {
                margin-bottom: 1em;
            }
        }
    }
}

#wrapper {
    #content {
        #search-input {
            padding: 0.33em 0.175em;
            width: 100%;
            background: transparent;
            color: $prussianBlue;
            border: 2px solid lighten($prussianBlue, 15%);

            &:hover,
            &:focus,
            &:active {
                background-color: lighten($prussianBlue, 85%);
            }

            &:focus {
                border-color: darken($prussianBlue, 15%);
                background-color: lighten($prussianBlue, 85%);
                outline: 0.33em solid lighten($prussianBlue, 15%);
            }

            &::placeholder {
                color: $prussianBlue;
                font-style: italic;
                opacity: 0.33;
            }
        }

        .search-result {
            margin: 1em 0 1em 0;
            padding: 1em 0 0 0;
            border-top: 1px dashed $prussianBlue;

            .search-headline,
            .search-abstract,
            .search-desc {
                p {
                    margin-bottom: 0.25em;
                }

                small {
                    font-weight: 200;
                }
            }

            .search-headline {
                h1,
                h4 {
                    &::before {
                        content: "";
                    }
                }
            }

            .search-date {
                min-width: 7.5rem;
            }

            .search-abstract {
                margin-bottom: 0.75em;

                .search-frontmatter {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .search-frontmatter-right {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .search-desc {
                .search-excerpt {
                    text-align: justify;
                }
            }
        }
    }
}

// ==== pc mode ====
@media (min-width: 992px) {
    #wrapper {
        #content {
            #search-input {
                margin-bottom: 150px;
            }

            .search-result {
                .search-abstract {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
            }
        }
    }
}

// ==== dark mode ====
@media (prefers-color-scheme: dark) {
    #wrapper {
        #content {
            #search-input {
                border: 2px solid darken($parchment, 15%);
                color: $parchment;

                &:hover,
                &:focus,
                &:active {
                    background-color: darken($parchment, 85%);
                }

                &:focus {
                    border-color: lighten($parchment, 15%);
                    background-color: darken($parchment, 85%);
                    outline: 0.33em solid darken($parchment, 15%);
                }

                &::placeholder {
                    color: $parchment;
                }
            }

            .search-result {
                border-top-color: $parchment;
            }
        }
    }
}
