@import "variables";

// ==== main scss file, jake deery, 2024 ====
html,
body {
    padding: 0;
    margin: 0;

    // bg to be page-like
    // color to be dark blue
    background: $parchment;
    color: $prussianBlue;

    // font
    font-family:
        ui-monospace, "SF Mono", "Menlo", "Monaco", "Cascadia Mono",
        "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace",
        "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New",
        monospace;
    font-weight: 400;
}

// ==== general rules ====
p {
    text-align: justify;
    text-justify: auto;
}

::selection {
    background: $prussianBlue;
    color: $parchment;
}

a {
    // set links up
    color: lighten($prussianBlue, 25%);
    font-style: italic;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
        color: darken($prussianBlue, 25%);
        text-decoration-color: darken($prussianBlue, 25%);
        text-decoration-style: dotted;
        text-decoration-line: underline;
    }

    // we want a nice box around focused links
    &:focus,
    &:active {
        text-decoration: none;
        background-color: lighten($prussianBlue, 65%);
        outline: 2px dashed $prussianBlue;
    }
}

hr {
    border-top: 1px dashed $prussianBlue;
    opacity: 1;
}

.clearfix {
    overflow: auto;
}

// ==== app-specific rules ====
#notifications {
    position: absolute;
    top: 1em;
    right: 1em;
    display: none;
    width: 70vw;
    padding: .33em;
    z-index: 9999;

    background-color: lighten($prussianBlue, 65%);
    outline: 2px dashed $prussianBlue;
}

#wrapper {
    display: block;
    margin: 0 auto;
    padding: 0 1em;

    .kernow,
    .devon {
        background: $parchment;
        color: #000;
        font-style: normal;
        font-size: 0.8em;
    }

    .devon {
        color: #00843d;
    }
}

#header {
    #brand {
        position: relative;
        display: none;
    }
    #brand-mobile {
        display: block;
    }

    #logo {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0 1.5em;
        width: 14em;
        max-width: calc(30vw - 3em);
    }
    #logo-mobile {
        width: 14em;
        max-width: 40vw;
    }

    #nav {
        .nav-item {
            display: flex;
            align-items: end;
            justify-content: center;
        }

        .nav-link {
            color: lighten($prussianBlue, 15%);

            &:hover,
            &:focus,
            &:active {
                color: darken($prussianBlue, 25%);
                text-decoration-color: darken($prussianBlue, 25%);
                text-decoration-style: dotted;
                text-decoration-line: underline;
            }

            // we want a nice box around focused links
            &:focus,
            &:active {
                box-shadow: none;
                outline: 2px dashed $prussianBlue;
            }
        }
    }
}

#content {
    h1 {
        font-size: 1.75rem;
        font-weight: 700;
        margin-bottom: 1rem;

        &::before {
            content: "# ";
            color: lighten($prussianBlue, 10%);
        }

        span:hover + a {
            color: #ffffff7f;
        }

        a {
            color: #ffffff00;

            &:hover,
            &:focus,
            &:active {
                color: #ffffffff;
            }
        }
    }

    h2 {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 0.75rem;

        &::before {
            content: "# ";
            color: lighten($prussianBlue, 10%);
        }
    }

    h3 {
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 0.5rem;

        &::before {
            content: "# ";
            color: lighten($prussianBlue, 10%);
        }
    }

    h4 {
        font-size: 1.125rem;
        font-weight: 600;
        margin-bottom: 0.25rem;

        &::before {
            content: "# ";
            color: lighten($prussianBlue, 10%);
        }
    }

    h5 {
        font-size: 1.0625rem;
        font-weight: 500;
        margin-bottom: 0.125rem;

        &::before {
            content: "# ";
            color: lighten($prussianBlue, 10%);
        }
    }
}

#footer {
    justify-content: center;

    .footer-preception,
    .footer-mugshot {
        img {
            width: auto;
            height: 32px;
        }
    }
}

// ==== pc mode ====
@media (min-width: 992px) {
    #notifications {
        width: 20vw;
    }

    #wrapper {
        max-width: calc(40vw + 2em);
    }

    #header {
        #brand {
            display: block;
        }
        #brand-mobile {
            display: none;
        }
    }
}

// ==== dark mode ====
@media (prefers-color-scheme: dark) {
    html,
    body {
        // bg to be page-like
        // color to be dark blue
        background: $prussianBlue;
        color: $parchment;
    }

    ::selection {
        background: $parchment;
        color: $prussianBlue;
    }

    a {
        // set links up
        color: darken($parchment, 25%);

        &:hover,
        &:focus,
        &:active {
            color: lighten($parchment, 5%);
            text-decoration-color: lighten($parchment, 5%);
        }

        // we want a nice box around focused links
        &:focus,
        &:active {
            background-color: darken($parchment, 65%);
            outline: 2px dashed $parchment;
        }
    }

    hr {
        border-top: 1px dashed $parchment;
    }

    #notifications {
        background-color: darken($parchment, 65%);
        outline: 2px dashed $parchment;
    }

    #header {
        #nav {
            .nav-link {
                color: darken($parchment, 15%);

                &:hover,
                &:focus,
                &:active {
                    color: lighten($parchment, 5%);
                    text-decoration-color: lighten($parchment, 5%);
                }

                // we want a nice box around focused links
                &:focus,
                &:active {
                    box-shadow: none;
                    outline: 2px dashed $parchment;
                }
            }
        }
    }

    #content {
        // ramblings & ramble
        // ramblings only
        .ramblings {
            border-top: 1px dashed $parchment;
        }

        h1,
        h2,
        h3,
        h4,
        h5 {
            &::before {
                content: "# ";
                color: darken($parchment, 10%);
            }
        }
    }
}
