@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap");

@import "variables";

// ==== main scss file, jake deery, 2024 ====
html,
body {
    padding: 0;
    margin: 0;

    // bg to be page-like
    // color to be dark blue
    background: $parchment;
    color: $prussianBlue;

    // font
    font-family: ui-monospace, "SF Mono", "Menlo", "Monaco", "Cascadia Mono",
        "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace",
        "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New",
        monospace;
    font-weight: 400;
}


// ==== general rules ====
p {
    text-align: justify;
    text-justify: auto;
}

a {
    // set links up
    color: lighten($prussianBlue, 25%);
    font-style: italic;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
        color: darken($prussianBlue, 25%);
        text-decoration-color: darken($prussianBlue, 25%);
        text-decoration-style: dotted;
        text-decoration-line: underline;
    }

    // we want a nice box around focused links
    &:focus,
    &:active {
        text-decoration: none;
        background-color: lighten($prussianBlue, 65%);
        outline: 2px dashed $prussianBlue;
    }
}

hr {
    border-top: 1px dashed $prussianBlue;
    opacity: 1;
}

.clearfix {
    overflow: auto;
}


// ==== app-specific rules ====
#wrapper {
    display: block;
    margin: 0 auto;
    padding: 0 1em;

    .devon {
        color: #00843d;
        font-style: normal;
    }
}


#header {

    #brand {
        position: relative;
        display: none;
    }
    #brand-mobile {
        display: block;
    }

    #logo {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0 1.5em;
        width: 14em;
        max-width: calc(30vw - 3em);
    }
    #logo-mobile {
        width: 14em;
        max-width: 40vw;
    }

    #nav {
        .nav-item {
            display: flex;
            align-items: end;
            justify-content: center;
        }

        .nav-link {
            color: lighten($prussianBlue, 15%);

            &:hover,
            &:focus,
            &:active {
                color: darken($prussianBlue, 5%);
            }
        }
    }
}


#content {

    h1 {
        text-align: end;
        font-size: 1.75rem;
        font-weight: 700;
        margin-bottom: 1rem;

        &::after {
            content: " #";
            color: lighten($prussianBlue, 10%);
        }
    }

    h2 {
        text-align: end;
        font-size: 1.50rem;
        font-weight: 700;
        margin-bottom: 0.75rem;

        &::after {
            content: " #";
            color: lighten($prussianBlue, 10%);
        }
    }

    h3 {
        text-align: end;
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 0.50rem;

        &::after {
            content: " #";
            color: lighten($prussianBlue, 10%);
        }
    }

    h4 {
        text-align: end;
        font-size: 1.125rem;
        font-weight: 600;
        margin-bottom: 0.25rem;

        &::after {
            content: " #";
            color: lighten($prussianBlue, 10%);
        }
    }

    h5 {
        text-align: end;
        font-size: 1.0625rem;
        font-weight: 500;
        margin-bottom: 0.125rem;

        &::after {
            content: " #";
            color: lighten($prussianBlue, 10%);
        }
    }
}


#footer {
    justify-content: center;
}

// ==== pc mode ====
@media (min-width: 992px) {
    #wrapper {
        max-width: calc(40vw + 2em);
    }

    #header {

        #brand {
            display: block;
        }
        #brand-mobile {
            display: none;
        }

    }
}

// ==== dark mode ====
@media(prefers-color-scheme: dark) {

    html,
    body {

        // bg to be page-like
        // color to be dark blue
        background: $prussianBlue;
        color: $parchment;
    }

    a {
        // set links up
        color: darken($parchment, 25%);

        &:hover,
        &:focus,
        &:active {
            color: lighten($parchment, 25%);
            text-decoration-color: lighten($parchment, 25%);
        }

        // we want a nice box around focused links
        &:focus,
        &:active {
            background-color: darken($parchment, 65%);
            outline: 2px dashed $parchment;
        }
    }

    hr {
        border-top: 1px dashed $parchment;
    }

    #header {
        #nav {
            .nav-link {
                color: darken($parchment, 15%);

                &:hover,
                &:focus,
                &:active {
                    color: lighten($parchment, 5%);
                }
            }
        }
    }


    #content {

        // blog & post
        // blog only
        .blog-entry {
            border-top: 1px dashed $parchment;
        }

        h1,
        h2,
        h3,
        h4,
        h5 {
            &::after {
                content: " #";
                color: darken($parchment, 10%);
            }
        }

    }
}
