---
layout: page
---

<!-- search -->
<form action="{{- 'search/' | relative_url }}" method="get">
    <input type="text" name="q" id="search-input" placeholder="Search &amp; &crarr;" autofocus>
    <input type="submit" value="Search" style="display:none">
</form>
<p>
    <span>&nbsp;</span><!-- silence is golden -->
</p>

<!-- index -->
{% if site.posts.size > 0 %}
{% for post in paginator.posts %}
<div class="blog-entry">
    <div class="blog-headline">
        <h4 class="order-1">
            {% if post.title %}
            <a href="{{- post.url | relative_url }}">{{- post.title }}&nbsp;📬</a>
            {% endif %}
        </h4>
        <p class="blog-date order-0">
            {% if post.date %}
            {{- post.date | date: "%Y-%m-%d" }}&nbsp;📅
            {% endif %}
        </p>
    </div>
    <div class="blog-abstract">
        <div class="blog-frontmatter">
            <small class="blog-wordcount">
                {% capture words %}
                {{- post.content | number_of_words | minus: 250 }}
                {% endcapture %}
                {% unless words contains "-" %}
                {{- words | plus: 250 | divided_by: 180 | append: " mins" }}&nbsp;⏱️
                -
                {% endunless %}

                {% capture words %}
                {{- post.content | number_of_words | minus: 1 }}
                {% endcapture %}
                {% unless words contains "-" %}
                {{- words | plus: 1 | thousands_separated: " " | append: " words" }}&nbsp;✍🏼
                {% endunless %}
            </small>
        </div>
        <div class="blog-frontmatter-right">
            <small class="blog-location">
                {% if post.location %}
                {{- post.location }}&nbsp;📍
                {% endif %}
            </small>
        </div>
    </div>
    <div class="blog-desc">
        <p class="blog-excerpt">
            {% if post.excerpt %}
            {{- post.excerpt | strip_html | truncate: 160 }} <a href="{{- post.url | relative_url }}">More
                &raquo;</a>
            {% endif %}
        </p>
    </div>
</div>
{% endfor %}
<div class="blog-entry">
    <span><!-- silence is golden--></span>
</div>
{% else %}
<p>No posts (yet)!</p>
{% endif %}

<!-- paginator -->
{% if paginator.total_pages > 1 %}
<div class="blog-pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
    {% else %}
    <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <em>{{ page }}</em>
    {% elsif page == 1 %}
    <a href="{{ '/' | relative_url }}">{{ page }}</a>
    {% else %}
    <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
    {% else %}
    <span>Next &raquo;</span>
    {% endif %}
</div>
{% endif %}
