---
---
<!DOCTYPE html>
<html lang="en-GB">

<head>
    {% include head.html %}
    {% include styles.html %}
</head>

<body>
    <div id="notifications" tabindex="0"></div>

    <div id="wrapper" class="p-4 p-lg-3">
        <div id="header" class="my-4 my-lg-3">
            {% include header.html %}
        </div>
        <div id="content">
            {{ content }}
        </div>
        <div id="footer" class="my-4 my-lg-3">
            {% include footer.html %}
        </div>
    </div>
    {% include scripts.html %}
</body>

</html>
