---
layout: page
---

<div class="ramble">
    <div class="ramble-headline">
        {% if page.date %}
        <small class="ramble-date">
            &#128197;&nbsp;{{- page.date | date: "%Y-%m-%d" }}
        </small>
        {% endif %}
    </div>
    <div class="ramble-abstract">
        <div class="ramble-frontmatter">
            {% if page.location %}
            <small class="ramble-location">
                &#128205;&nbsp;{{- page.location }}
            </small>
            {% endif %}
        </div>
        <div class="ramble-frontmatter-right">
            <small class="ramble-wordcount">
                {% capture words %}
                {{- page.content | number_of_words | minus: 250 }}
                {% endcapture %}
                {% unless words contains "-" %}
                &#9201;&#65039;&nbsp;{{- words | plus: 250 | divided_by: 180 | thousands_separated: " " | append: " mins" }}
                -
                {% else %}
                &#9201;&#65039;&nbsp;20 secs
                -
                {% endunless %}

                {% capture words %}
                {{- page.content | number_of_words | minus: 1 }}
                {% endcapture %}
                {% unless words contains "-" %}
                &#9997;&#127996;&nbsp;{{- words | plus: 1 | thousands_separated: " " | append: " words" }}
                {% endunless %}
            </small>
        </div>
    </div>
</div>

<hr />
<div class="ramble-content">
    {% if page.prev-post %}
    <p class="text-start">
        <a href="{{ page.prev-post.id | relative_url }}.html" class="ramble-prev">
            {% if page.prev-post.label %}
                {{- page.prev-post.label }}
            {% else %}
                Previous post
            {% endif %}
        </a>
    </p>
    {% endif %}
    {{ content }}
    <div style="clear:both"></div>
    {% if page.next-post %}
    <p class="text-end">
        <a href="{{ page.next-post.id | relative_url }}.html" class="ramble-next">
            {% if page.next-post.label %}
                {{- page.next-post.label }}
            {% else %}
                Next post
            {% endif %}
        </a>
    </p>
    {% endif %}
</div>
<hr />

<div class="ramble-footer">
    <div class="ramble-backmatter">
        <a href='{{- 'ramblings/' | relative_url }}/'>&laquo; Back</a>
    </div>
    <div class="ramble-backmatter-right">
        {% if page.tags.size > 0 %}
        <small class="ramble-tags">
            &#128278;&nbsp;{{- page.tags }}
        </small>
        &nbsp;
        {% endif %}
        {% if page.category %}
        <small class="ramble-category">
            &#128451;&#65039;&nbsp;{{- page.category }}
        </small>
        {% endif %}
    </div>
</div>
